Package: bandwhichd-agent
Version: 0.32.0-2+deb8
Section: utils
Priority: optional
Architecture: amd64
Maintainer: neuland Open Source Maintainers <opensource@neuland-bfi.de>
Description: bandwhichd agent publishing measurements
 Publish current information about the host, its network interfaces, sockets
 and network utilization to the bandwhichd monitoring system
Depends: libc6-dev, libssl1.1
