Package: bandwhichd-agent
Version: 0.35.0-1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: neuland Open Source Maintainers <opensource@neuland-bfi.de>
Description: bandwhichd agent publishing measurements
 Publish current information about the host, its network interfaces, sockets
 and network utilization to the bandwhichd monitoring system
